.icon {
    width: 66px;
    height: 66px;
    background: #14B498;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-title {
    font-size: 19px;
    line-height: 20px;
    margin: 0;
    color: #010001;
    font-weight: 700;
    margin-left: 10px;
}

@media (min-width: 1920px) {
    .header-title {
        font-size: 26px;
    }
}
