.profile__user {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.profile__role {
    font-size: 12px;
    line-height: 15px;
    color: #B6B6B6;
}

.profile__wrapper {
    margin-left: 17px;
}

.profile__button {
    margin-left: 20px;
}